.container{
    display:flex;
    flex-direction: column;
}
.lastsection{
    width:100%;
    height: 80px;
    background-color: #19435A;
    @media (max-width: 768px) {
        height: 40px;
    }

}