.head-sec {
  width: 100%;
  background-image: url("../assets/head.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.head-sec .logo {
  width: 22%;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .head-sec .logo {
    margin-top: 25px;
  }
}
.head-sec .text-section {
  text-align: center;
}
.head-sec .text-section .main-text {
  width: 523px;
  height: 57px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 800;
  line-height: 57px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .head-sec .text-section .main-text {
    width: 100%;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
}
.head-sec .text-section .sub-text {
  max-width: 520px;
  width: 100%;
  height: 88px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .head-sec .text-section .sub-text {
    max-width: 200px;
    height: 40px;
    font-size: 7px;
    line-height: 10px;
    text-align: center;
  }
}
.head-sec .image-group {
  width: 30%;
  height: auto;
  margin-top: 3%;
}
.head-sec .single-image {
  max-width: 192px;
  width: 10%;
  height: auto;
  border-radius: 10px;
  margin-top: 3%;
}

.explanation-sec {
  width: 100%;
  height: auto;
  background: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
}
.explanation-sec .colored-section {
  width: 100%;
  max-width: 100%;
  background: linear-gradient(90deg, #F2F2F2 52%, #50B2EA 48%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explanation-sec .colored-section .content {
  height: 80%;
  width: 63%;
  border: 4px solid #F2F2F2;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  background: linear-gradient(0deg, #50B2EA, #50B2EA), linear-gradient(0deg, #F2F2F2, #F2F2F2);
}
@media (max-width: 768px) {
  .explanation-sec .colored-section .content {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
  }
}
.explanation-sec .colored-section .content img {
  width: 47%;
  height: 100%;
  border-radius: 0px 40px 40px 0px;
}
@media (max-width: 768px) {
  .explanation-sec .colored-section .content img {
    border-radius: 0px 20px 20px 0px;
  }
}
.explanation-sec .colored-section .explain-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: "Poppins";
  color: #FFFFFF;
  justify-content: space-between;
  height: 80%;
  margin-left: 5%;
  margin-top: 3%;
}
.explanation-sec .colored-section .explain-container h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}
@media (max-width: 768px) {
  .explanation-sec .colored-section .explain-container h2 {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .explanation-sec .colored-section .explain-container h2 {
    font-size: 7px;
  }
}
.explanation-sec .colored-section .explain-container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: 0;
  text-align: left;
  color: #19435A;
  margin: 0;
}
@media (max-width: 768px) {
  .explanation-sec .colored-section .explain-container p {
    font-size: 7px;
  }
}
@media (max-width: 400px) {
  .explanation-sec .colored-section .explain-container p {
    font-size: 5px;
  }
}
.explanation-sec .colored-section .explain-container img {
  width: 100%;
  height: 5%;
}
.explanation-sec .colored-section .help {
  width: 10%;
  height: 10%;
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 2px solid #F2F2F2;
  background-color: #50B2EA;
}
@media (max-width: 768px) {
  .explanation-sec .colored-section .help {
    border: 1px solid #F2F2F2;
  }
}
.explanation-sec .colored-section .help p {
  color: #FFFFFF;
  font-family: "Poppins";
  font-size: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  .explanation-sec .colored-section .help p {
    font-size: 5px;
  }
}

.services-sec {
  width: 100%;
  height: 670px;
  background: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .services-sec {
    height: 330px;
  }
}
.services-sec .services-part1 {
  width: 100%;
  height: auto;
  background-image: url("../assets/servicebackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.services-sec .services-part1 h2 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .services-sec .services-part1 h2 {
    font-size: 22px;
    line-height: 35px;
  }
}
.services-sec .services-part1 img {
  width: 50%;
}
.services-sec .services-part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F2F2F2;
  width: 100%;
  height: auto;
  text-align: center;
  align-items: center;
}
.services-sec .services-part2 .servicescontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
@media (max-width: 768px) {
  .services-sec .services-part2 .servicescontent {
    width: 60%;
  }
}
.services-sec .services-part2 .servicescontent .contentelement {
  width: 15%;
}
.services-sec .services-part2 .servicescontent .contentelement h2 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #50B2EA;
}
@media (max-width: 768px) {
  .services-sec .services-part2 .servicescontent .contentelement h2 {
    font-size: 8px;
    line-height: 10px;
  }
}
.services-sec .services-part2 .servicescontent .contentelement p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #19435A;
}
@media (max-width: 768px) {
  .services-sec .services-part2 .servicescontent .contentelement p {
    font-size: 6px;
    line-height: 10px;
  }
}
.services-sec .services-part2 img {
  width: 200px;
  height: 120px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .services-sec .services-part2 img {
    width: 100px;
    height: 60px;
    margin-top: 10px;
  }
}

.testymonials-sec {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #50B2EA;
  justify-content: center;
  align-items: center;
}
.testymonials-sec h2 {
  width: 336px;
  height: 72px;
  line-height: 72px;
  font-size: 48px;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .testymonials-sec h2 {
    width: 150px;
    height: 34px;
    line-height: 34px;
    font-size: 22px;
  }
}
.testymonials-sec .testymonialsitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testymonials-sec .testymonialsitems .item {
  display: flex;
  flex-direction: row;
  width: 577px;
  height: 233px;
  border-radius: 40px;
  background: #FFFFFF;
  box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.2);
  margin: 10px 40px 40px 10px;
}
@media (max-width: 768px) {
  .testymonials-sec .testymonialsitems .item {
    width: 200px;
    height: 110px;
    border-radius: 20px;
    margin: 5px 20px 20px 5px;
  }
}
.testymonials-sec .testymonialsitems .item img {
  width: 80px;
  height: 80px;
  margin: 10px 10px 10px 10px;
}
@media (max-width: 768px) {
  .testymonials-sec .testymonialsitems .item img {
    width: 40px;
    height: 30px;
    margin: 5px 5px 5px 5px;
  }
}
.testymonials-sec .testymonialsitems .item .itemcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testymonials-sec .testymonialsitems .item .itemcontent h2 {
  color: #50B2EA;
  width: 147px;
  height: 22px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 768px) {
  .testymonials-sec .testymonialsitems .item .itemcontent h2 {
    width: 70px;
    height: 10px;
    font-size: 8px;
    line-height: 10px;
  }
}
.testymonials-sec .testymonialsitems .item .itemcontent p {
  width: 423px;
  height: 110px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 768px) {
  .testymonials-sec .testymonialsitems .item .itemcontent p {
    width: 150px;
    height: 50px;
    font-size: 6px;
    line-height: 10px;
  }
}
.testymonials-sec .testymonialsitems .item .itemcontent img {
  width: 114px;
  height: 18px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .testymonials-sec .testymonialsitems .item .itemcontent img {
    width: 50px;
    height: 8px;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=index.css.map */